In [1]:
#Import necessary packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [114]:
#Reading the data
train_data=pd.read_csv("train.csv", low_memory=False)
store_data=pd.read_csv("store.csv")
test_data=pd.read_csv("test.csv")

In [109]:
#preview the data
train_data.head(20)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
5,6,5,2015-07-31,5651,589,1,1,0,1
6,7,5,2015-07-31,15344,1414,1,1,0,1
7,8,5,2015-07-31,8492,833,1,1,0,1
8,9,5,2015-07-31,8565,687,1,1,0,1
9,10,5,2015-07-31,7185,681,1,1,0,1
10,11,5,2015-07-31,10457,1236,1,1,0,1
11,12,5,2015-07-31,8959,962,1,1,0,1
12,13,5,2015-07-31,8821,568,1,1,0,0
13,14,5,2015-07-31,6544,710,1,1,0,1
14,15,5,2015-07-31,9191,766,1,1,0,1
15,16,5,2015-07-31,10231,979,1,1,0,1
16,17,5,2015-07-31,8430,946,1,1,0,1
17,18,5,2015-07-31,10071,936,1,1,0,1
18,19,5,2015-07-31,8234,718,1,1,0,1
19,20,5,2015-07-31,9593,974,1,1,0,0

In [10]:
store_data.head(20)

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
5,6,a,a,310.0,12.0,2013.0,0,NaN,NaN,NaN
6,7,a,c,24000.0,4.0,2013.0,0,NaN,NaN,NaN
7,8,a,a,7520.0,10.0,2014.0,0,NaN,NaN,NaN
8,9,a,c,2030.0,8.0,2000.0,0,NaN,NaN,NaN
9,10,a,a,3160.0,9.0,2009.0,0,NaN,NaN,NaN
10,11,a,c,960.0,11.0,2011.0,1,1.0,2012.0,"Jan,Apr,Jul,Oct"
11,12,a,c,1070.0,NaN,NaN,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
12,13,d,a,310.0,NaN,NaN,1,45.0,2009.0,"Feb,May,Aug,Nov"
13,14,a,a,1300.0,3.0,2014.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct"
14,15,d,c,4110.0,3.0,2010.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
15,16,a,c,3270.0,NaN,NaN,0,NaN,NaN,NaN
16,17,a,a,50.0,12.0,2005.0,1,26.0,2010.0,"Jan,Apr,Jul,Oct"
17,18,d,c,13840.0,6.0,2010.0,1,14.0,2012.0,"Jan,Apr,Jul,Oct"
18,19,a,c,3240.0,NaN,NaN,1,22.0,2011.0,"Mar,Jun,Sept,Dec"
19,20,d,a,2340.0,5.0,2009.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct"

In [11]:
test_data.head(20)

    Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0    1      1          4  2015-09-17   1.0      1            0              0
1    2      3          4  2015-09-17   1.0      1            0              0
2    3      7          4  2015-09-17   1.0      1            0              0
3    4      8          4  2015-09-17   1.0      1            0              0
4    5      9          4  2015-09-17   1.0      1            0              0
5    6     10          4  2015-09-17   1.0      1            0              0
6    7     11          4  2015-09-17   1.0      1            0              0
7    8     12          4  2015-09-17   1.0      1            0              0
8    9     13          4  2015-09-17   1.0      1            0              0
9   10     14          4  2015-09-17   1.0      1            0              0
10  11     15          4  2015-09-17   1.0      1            0              0
11  12     16          4  2015-09-17   1.0      1            0              0
12  13     19          4  2015-09-17   1.0      1            0              0
13  14     20          4  2015-09-17   1.0      1            0              0
14  15     21          4  2015-09-17   1.0      1            0              0
15  16     22          4  2015-09-17   1.0      1            0              0
16  17     23          4  2015-09-17   1.0      1            0              0
17  18     24          4  2015-09-17   1.0      1            0              0
18  19     25          4  2015-09-17   1.0      1            0              0
19  20     27          4  2015-09-17   1.0      1            0              0

In [99]:
#Data preprocessing begins here
#the information about the stores such as holidays, promos, etc and the information about the sales,competetion_distance,store_type etc are available in different datasets, we merge them to make the training data easier to read
print ("Merging the stores and sales data")
combined_train_data=pd.merge(train_data,store_data, on="Store")

Merging the stores and sales data

In [100]:
print ("Previewing the combined data")
combined_train_data.head(400)

Previewing the combined data

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,1,4,2015-07-30,5020,546,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
2,1,3,2015-07-29,4782,523,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
3,1,2,2015-07-28,5011,560,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
4,1,1,2015-07-27,6102,612,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
5,1,7,2015-07-26,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
6,1,6,2015-07-25,4364,500,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
7,1,5,2015-07-24,3706,459,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
8,1,4,2015-07-23,3769,503,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
9,1,3,2015-07-22,3464,463,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
10,1,2,2015-07-21,3558,469,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
11,1,1,2015-07-20,4395,526,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
12,1,7,2015-07-19,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
13,1,6,2015-07-18,4406,512,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
14,1,5,2015-07-17,4852,519,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
15,1,4,2015-07-16,4427,517,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
16,1,3,2015-07-15,4767,550,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
17,1,2,2015-07-14,5042,544,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
18,1,1,2015-07-13,5054,553,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
19,1,7,2015-07-12,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
20,1,6,2015-07-11,3530,441,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
21,1,5,2015-07-10,3808,449,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
22,1,4,2015-07-09,3897,480,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
23,1,3,2015-07-08,3797,485,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
24,1,2,2015-07-07,3650,485,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
25,1,1,2015-07-06,4359,540,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
26,1,7,2015-07-05,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
27,1,6,2015-07-04,4797,560,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
28,1,5,2015-07-03,4665,538,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
29,1,4,2015-07-02,5558,573,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,1,6,2014-07-26,4266,488,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
371,1,5,2014-07-25,3858,461,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
372,1,4,2014-07-24,3557,494,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
373,1,3,2014-07-23,3806,476,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
374,1,2,2014-07-22,3933,495,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
375,1,1,2014-07-21,4507,528,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
376,1,7,2014-07-20,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
377,1,6,2014-07-19,4084,477,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
378,1,5,2014-07-18,4609,506,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
379,1,4,2014-07-17,4685,525,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
380,1,3,2014-07-16,5424,566,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
381,1,2,2014-07-15,5298,538,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
382,1,1,2014-07-14,5083,532,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
383,1,7,2014-07-13,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
384,1,6,2014-07-12,4409,531,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
385,1,5,2014-07-11,4020,463,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
386,1,4,2014-07-10,3741,472,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
387,1,3,2014-07-09,3547,485,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
388,1,2,2014-07-08,4081,510,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
389,1,1,2014-07-07,4223,505,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
390,1,7,2014-07-06,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
391,1,6,2014-07-05,5176,589,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
392,1,5,2014-07-04,4025,450,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
393,1,4,2014-07-03,4756,514,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
394,1,3,2014-07-02,5161,560,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
395,1,2,2014-07-01,5138,533,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
396,1,1,2014-06-30,5738,641,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
397,1,7,2014-06-29,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
398,1,6,2014-06-28,5162,566,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
399,1,5,2014-06-27,4019,501,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN

In [101]:
#Handling the NaN values
NaN_Rows=combined_train_data[combined_train_data.isnull().T.any().T]

In [102]:
print (NaN_Rows)

         Store  DayOfWeek        Date  Sales  Customers  Open  Promo  \
0            1          5  2015-07-31   5263        555     1      1
1            1          4  2015-07-30   5020        546     1      1
2            1          3  2015-07-29   4782        523     1      1
3            1          2  2015-07-28   5011        560     1      1
4            1          1  2015-07-27   6102        612     1      1
5            1          7  2015-07-26      0          0     0      0
6            1          6  2015-07-25   4364        500     1      0
7            1          5  2015-07-24   3706        459     1      0
8            1          4  2015-07-23   3769        503     1      0
9            1          3  2015-07-22   3464        463     1      0
10           1          2  2015-07-21   3558        469     1      0
11           1          1  2015-07-20   4395        526     1      0
12           1          7  2015-07-19      0          0     0      0
13           1          6  2015-07-18   4406        512     1      0
14           1          5  2015-07-17   4852        519     1      1
15           1          4  2015-07-16   4427        517     1      1
16           1          3  2015-07-15   4767        550     1      1
17           1          2  2015-07-14   5042        544     1      1
18           1          1  2015-07-13   5054        553     1      1
19           1          7  2015-07-12      0          0     0      0
20           1          6  2015-07-11   3530        441     1      0
21           1          5  2015-07-10   3808        449     1      0
22           1          4  2015-07-09   3897        480     1      0
23           1          3  2015-07-08   3797        485     1      0
24           1          2  2015-07-07   3650        485     1      0
25           1          1  2015-07-06   4359        540     1      0
26           1          7  2015-07-05      0          0     0      0
27           1          6  2015-07-04   4797        560     1      0
28           1          5  2015-07-03   4665        538     1      1
29           1          4  2015-07-02   5558        573     1      1
...        ...        ...         ...    ...        ...   ...    ...
1017179   1115          3  2013-01-30   3813        287     1      0
1017180   1115          2  2013-01-29   3397        277     1      0
1017181   1115          1  2013-01-28   3615        271     1      0
1017182   1115          7  2013-01-27      0          0     0      0
1017183   1115          6  2013-01-26   4896        394     1      0
1017184   1115          5  2013-01-25   5082        373     1      1
1017185   1115          4  2013-01-24   5650        366     1      1
1017186   1115          3  2013-01-23   5176        336     1      1
1017187   1115          2  2013-01-22   5388        329     1      1
1017188   1115          1  2013-01-21   3723        243     1      1
1017189   1115          7  2013-01-20      0          0     0      0
1017190   1115          6  2013-01-19   5207        369     1      0
1017191   1115          5  2013-01-18   4287        296     1      0
1017192   1115          4  2013-01-17   3039        244     1      0
1017193   1115          3  2013-01-16   3064        237     1      0
1017194   1115          2  2013-01-15   3528        277     1      0
1017195   1115          1  2013-01-14   3158        252     1      0
1017196   1115          7  2013-01-13      0          0     0      0
1017197   1115          6  2013-01-12   4497        350     1      0
1017198   1115          5  2013-01-11   5142        351     1      1
1017199   1115          4  2013-01-10   5007        339     1      1
1017200   1115          3  2013-01-09   4649        324     1      1
1017201   1115          2  2013-01-08   5243        341     1      1
1017202   1115          1  2013-01-07   6905        471     1      1
1017203   1115          7  2013-01-06      0          0     0      0
1017204   1115          6  2013-01-05   4771        339     1      0
1017205   1115          5  2013-01-04   4540        326     1      0
1017206   1115          4  2013-01-03   4297        300     1      0
1017207   1115          3  2013-01-02   3697        305     1      0
1017208   1115          2  2013-01-01      0          0     0      0

        StateHoliday  SchoolHoliday StoreType Assortment  CompetitionDistance  \
0                  0              1         c          a               1270.0
1                  0              1         c          a               1270.0
2                  0              1         c          a               1270.0
3                  0              1         c          a               1270.0
4                  0              1         c          a               1270.0
5                  0              0         c          a               1270.0
6                  0              0         c          a               1270.0
7                  0              0         c          a               1270.0
8                  0              0         c          a               1270.0
9                  0              0         c          a               1270.0
10                 0              0         c          a               1270.0
11                 0              0         c          a               1270.0
12                 0              0         c          a               1270.0
13                 0              0         c          a               1270.0
14                 0              0         c          a               1270.0
15                 0              0         c          a               1270.0
16                 0              0         c          a               1270.0
17                 0              0         c          a               1270.0
18                 0              0         c          a               1270.0
19                 0              0         c          a               1270.0
20                 0              0         c          a               1270.0
21                 0              0         c          a               1270.0
22                 0              0         c          a               1270.0
23                 0              0         c          a               1270.0
24                 0              0         c          a               1270.0
25                 0              0         c          a               1270.0
26                 0              0         c          a               1270.0
27                 0              0         c          a               1270.0
28                 0              0         c          a               1270.0
29                 0              0         c          a               1270.0
...              ...            ...       ...        ...                  ...
1017179            0              0         d          c               5350.0
1017180            0              0         d          c               5350.0
1017181            0              0         d          c               5350.0
1017182            0              0         d          c               5350.0
1017183            0              0         d          c               5350.0
1017184            0              0         d          c               5350.0
1017185            0              0         d          c               5350.0
1017186            0              0         d          c               5350.0
1017187            0              0         d          c               5350.0
1017188            0              0         d          c               5350.0
1017189            0              0         d          c               5350.0
1017190            0              0         d          c               5350.0
1017191            0              0         d          c               5350.0
1017192            0              0         d          c               5350.0
1017193            0              0         d          c               5350.0
1017194            0              0         d          c               5350.0
1017195            0              0         d          c               5350.0
1017196            0              0         d          c               5350.0
1017197            0              0         d          c               5350.0
1017198            0              1         d          c               5350.0
1017199            0              1         d          c               5350.0
1017200            0              1         d          c               5350.0
1017201            0              1         d          c               5350.0
1017202            0              1         d          c               5350.0
1017203            0              1         d          c               5350.0
1017204            0              1         d          c               5350.0
1017205            0              1         d          c               5350.0
1017206            0              1         d          c               5350.0
1017207            0              1         d          c               5350.0
1017208            a              1         d          c               5350.0

         CompetitionOpenSinceMonth  CompetitionOpenSinceYear  Promo2  \
0                              9.0                    2008.0       0
1                              9.0                    2008.0       0
2                              9.0                    2008.0       0
3                              9.0                    2008.0       0
4                              9.0                    2008.0       0
5                              9.0                    2008.0       0
6                              9.0                    2008.0       0
7                              9.0                    2008.0       0
8                              9.0                    2008.0       0
9                              9.0                    2008.0       0
10                             9.0                    2008.0       0
11                             9.0                    2008.0       0
12                             9.0                    2008.0       0
13                             9.0                    2008.0       0
14                             9.0                    2008.0       0
15                             9.0                    2008.0       0
16                             9.0                    2008.0       0
17                             9.0                    2008.0       0
18                             9.0                    2008.0       0
19                             9.0                    2008.0       0
20                             9.0                    2008.0       0
21                             9.0                    2008.0       0
22                             9.0                    2008.0       0
23                             9.0                    2008.0       0
24                             9.0                    2008.0       0
25                             9.0                    2008.0       0
26                             9.0                    2008.0       0
27                             9.0                    2008.0       0
28                             9.0                    2008.0       0
29                             9.0                    2008.0       0
...                            ...                       ...     ...
1017179                        NaN                       NaN       1
1017180                        NaN                       NaN       1
1017181                        NaN                       NaN       1
1017182                        NaN                       NaN       1
1017183                        NaN                       NaN       1
1017184                        NaN                       NaN       1
1017185                        NaN                       NaN       1
1017186                        NaN                       NaN       1
1017187                        NaN                       NaN       1
1017188                        NaN                       NaN       1
1017189                        NaN                       NaN       1
1017190                        NaN                       NaN       1
1017191                        NaN                       NaN       1
1017192                        NaN                       NaN       1
1017193                        NaN                       NaN       1
1017194                        NaN                       NaN       1
1017195                        NaN                       NaN       1
1017196                        NaN                       NaN       1
1017197                        NaN                       NaN       1
1017198                        NaN                       NaN       1
1017199                        NaN                       NaN       1
1017200                        NaN                       NaN       1
1017201                        NaN                       NaN       1
1017202                        NaN                       NaN       1
1017203                        NaN                       NaN       1
1017204                        NaN                       NaN       1
1017205                        NaN                       NaN       1
1017206                        NaN                       NaN       1
1017207                        NaN                       NaN       1
1017208                        NaN                       NaN       1

         Promo2SinceWeek  Promo2SinceYear     PromoInterval
0                    NaN              NaN               NaN
1                    NaN              NaN               NaN
2                    NaN              NaN               NaN
3                    NaN              NaN               NaN
4                    NaN              NaN               NaN
5                    NaN              NaN               NaN
6                    NaN              NaN               NaN
7                    NaN              NaN               NaN
8                    NaN              NaN               NaN
9                    NaN              NaN               NaN
10                   NaN              NaN               NaN
11                   NaN              NaN               NaN
12                   NaN              NaN               NaN
13                   NaN              NaN               NaN
14                   NaN              NaN               NaN
15                   NaN              NaN               NaN
16                   NaN              NaN               NaN
17                   NaN              NaN               NaN
18                   NaN              NaN               NaN
19                   NaN              NaN               NaN
20                   NaN              NaN               NaN
21                   NaN              NaN               NaN
22                   NaN              NaN               NaN
23                   NaN              NaN               NaN
24                   NaN              NaN               NaN
25                   NaN              NaN               NaN
26                   NaN              NaN               NaN
27                   NaN              NaN               NaN
28                   NaN              NaN               NaN
29                   NaN              NaN               NaN
...                  ...              ...               ...
1017179             22.0           2012.0  Mar,Jun,Sept,Dec
1017180             22.0           2012.0  Mar,Jun,Sept,Dec
1017181             22.0           2012.0  Mar,Jun,Sept,Dec
1017182             22.0           2012.0  Mar,Jun,Sept,Dec
1017183             22.0           2012.0  Mar,Jun,Sept,Dec
1017184             22.0           2012.0  Mar,Jun,Sept,Dec
1017185             22.0           2012.0  Mar,Jun,Sept,Dec
1017186             22.0           2012.0  Mar,Jun,Sept,Dec
1017187             22.0           2012.0  Mar,Jun,Sept,Dec
1017188             22.0           2012.0  Mar,Jun,Sept,Dec
1017189             22.0           2012.0  Mar,Jun,Sept,Dec
1017190             22.0           2012.0  Mar,Jun,Sept,Dec
1017191             22.0           2012.0  Mar,Jun,Sept,Dec
1017192             22.0           2012.0  Mar,Jun,Sept,Dec
1017193             22.0           2012.0  Mar,Jun,Sept,Dec
1017194             22.0           2012.0  Mar,Jun,Sept,Dec
1017195             22.0           2012.0  Mar,Jun,Sept,Dec
1017196             22.0           2012.0  Mar,Jun,Sept,Dec
1017197             22.0           2012.0  Mar,Jun,Sept,Dec
1017198             22.0           2012.0  Mar,Jun,Sept,Dec
1017199             22.0           2012.0  Mar,Jun,Sept,Dec
1017200             22.0           2012.0  Mar,Jun,Sept,Dec
1017201             22.0           2012.0  Mar,Jun,Sept,Dec
1017202             22.0           2012.0  Mar,Jun,Sept,Dec
1017203             22.0           2012.0  Mar,Jun,Sept,Dec
1017204             22.0           2012.0  Mar,Jun,Sept,Dec
1017205             22.0           2012.0  Mar,Jun,Sept,Dec
1017206             22.0           2012.0  Mar,Jun,Sept,Dec
1017207             22.0           2012.0  Mar,Jun,Sept,Dec
1017208             22.0           2012.0  Mar,Jun,Sept,Dec

[692883 rows x 18 columns]

In [103]:
#There are some NULL spaces in the data, such as promos, where if promo is not offered by the store, the NaN value is used in its place
#Replacing these NaN values with 0
combined_train_data.fillna(0, inplace=True)
combined_train_data.loc[combined_train_data.Open.isnull(), 'Open'] = 1

In [104]:
combined_train_data.head(50)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
1,1,4,2015-07-30,5020,546,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
2,1,3,2015-07-29,4782,523,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
3,1,2,2015-07-28,5011,560,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
4,1,1,2015-07-27,6102,612,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
5,1,7,2015-07-26,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
6,1,6,2015-07-25,4364,500,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
7,1,5,2015-07-24,3706,459,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
8,1,4,2015-07-23,3769,503,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
9,1,3,2015-07-22,3464,463,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
10,1,2,2015-07-21,3558,469,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
11,1,1,2015-07-20,4395,526,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
12,1,7,2015-07-19,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
13,1,6,2015-07-18,4406,512,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
14,1,5,2015-07-17,4852,519,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
15,1,4,2015-07-16,4427,517,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
16,1,3,2015-07-15,4767,550,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
17,1,2,2015-07-14,5042,544,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
18,1,1,2015-07-13,5054,553,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
19,1,7,2015-07-12,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
20,1,6,2015-07-11,3530,441,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
21,1,5,2015-07-10,3808,449,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
22,1,4,2015-07-09,3897,480,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
23,1,3,2015-07-08,3797,485,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
24,1,2,2015-07-07,3650,485,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
25,1,1,2015-07-06,4359,540,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
26,1,7,2015-07-05,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
27,1,6,2015-07-04,4797,560,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
28,1,5,2015-07-03,4665,538,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
29,1,4,2015-07-02,5558,573,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
30,1,3,2015-07-01,5223,562,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
31,1,2,2015-06-30,5735,568,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
32,1,1,2015-06-29,5197,541,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
33,1,7,2015-06-28,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
34,1,6,2015-06-27,4019,463,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
35,1,5,2015-06-26,3317,420,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
36,1,4,2015-06-25,3533,433,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
37,1,3,2015-06-24,3346,414,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
38,1,2,2015-06-23,3762,447,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
39,1,1,2015-06-22,3846,489,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
40,1,7,2015-06-21,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
41,1,6,2015-06-20,4097,494,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
42,1,5,2015-06-19,4202,487,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
43,1,4,2015-06-18,4645,498,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
44,1,3,2015-06-17,4000,476,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
45,1,2,2015-06-16,4852,503,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
46,1,1,2015-06-15,5518,586,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
47,1,7,2015-06-14,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
48,1,6,2015-06-13,4256,502,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
49,1,5,2015-06-12,3695,422,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0

In [105]:
#Checking if there are any NaN values
combined_train_data.isnull().values.any()

False

In [75]:
#Reformating the date - from YYYY-MM-DD to DD-MM-YYYY
combined_train_data['Date'] = combined_train_data['Date'].dt.strftime('%d-%m-%Y')

In [107]:
combined_train_data.head(20).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Store,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
DayOfWeek,5,4,3,2,1,7,6,5,4,3,2,1,7,6,5,4,3,2,1,7
Date,2015-07-31,2015-07-30,2015-07-29,2015-07-28,2015-07-27,2015-07-26,2015-07-25,2015-07-24,2015-07-23,2015-07-22,2015-07-21,2015-07-20,2015-07-19,2015-07-18,2015-07-17,2015-07-16,2015-07-15,2015-07-14,2015-07-13,2015-07-12
Sales,5263,5020,4782,5011,6102,0,4364,3706,3769,3464,3558,4395,0,4406,4852,4427,4767,5042,5054,0
Customers,555,546,523,560,612,0,500,459,503,463,469,526,0,512,519,517,550,544,553,0
Open,1,1,1,1,1,0,1,1,1,1,1,1,0,1,1,1,1,1,1,0
Promo,1,1,1,1,1,0,0,0,0,0,0,0,0,0,1,1,1,1,1,0
StateHoliday,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
SchoolHoliday,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
StoreType,c,c,c,c,c,c,c,c,c,c,c,c,c,c,c,c,c,c,c,c
Assortment,a,a,a,a,a,a,a,a,a,a,a,a,a,a,a,a,a,a,a,a
CompetitionDistance,1270,1270,1270,1270,1270,1270,1270,1270,1270,1270,1270,1270,1270,1270,1270,1270,1270,1270,1270,1270
CompetitionOpenSinceMonth,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
CompetitionOpenSinceYear,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008
Promo2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Promo2SinceWeek,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Promo2SinceYear,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PromoInterval,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [116]:
#Creating seperate columns for month and Year to analyze the data better.
combined_train_data['Year']  = combined_train_data['Date'].apply(lambda x: int(str(x)[:4]))
combined_train_data['Month'] = combined_train_data['Date'].apply(lambda x: int(str(x)[5:7]))

In [118]:
combined_train_data.head(20)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
1,1,4,2015-07-30,5020,546,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
2,1,3,2015-07-29,4782,523,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
3,1,2,2015-07-28,5011,560,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
4,1,1,2015-07-27,6102,612,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
5,1,7,2015-07-26,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
6,1,6,2015-07-25,4364,500,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
7,1,5,2015-07-24,3706,459,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
8,1,4,2015-07-23,3769,503,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
9,1,3,2015-07-22,3464,463,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
10,1,2,2015-07-21,3558,469,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
11,1,1,2015-07-20,4395,526,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
12,1,7,2015-07-19,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
13,1,6,2015-07-18,4406,512,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
14,1,5,2015-07-17,4852,519,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
15,1,4,2015-07-16,4427,517,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
16,1,3,2015-07-15,4767,550,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
17,1,2,2015-07-14,5042,544,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
18,1,1,2015-07-13,5054,553,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
19,1,7,2015-07-12,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7

In [120]:
combined_train_data['DayOfWeek'] = combined_train_data['DayOfWeek'].map({1:'Monday',2:'Tuesday',3:'Wednesday',4:'Thursday',5:'Friday',6:'Saturday',7:'Sunday'})

In [129]:
combined_train_data[['DayOfWeek']]=combined_train_data[['DayOfWeek']].astype(object)

In [130]:
combined_train_data.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month
0,1,NaN,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
1,1,NaN,2015-07-30,5020,546,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
2,1,NaN,2015-07-29,4782,523,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
3,1,NaN,2015-07-28,5011,560,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
4,1,NaN,2015-07-27,6102,612,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7