In [79]:
#Import necessary packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [80]:
#Reading the data
train_data=pd.read_csv("train.csv", low_memory=False)
store_data=pd.read_csv("store.csv")
test_data=pd.read_csv("test.csv")

In [81]:
#preview the data
train_data.head(20)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
5,6,5,2015-07-31,5651,589,1,1,0,1
6,7,5,2015-07-31,15344,1414,1,1,0,1
7,8,5,2015-07-31,8492,833,1,1,0,1
8,9,5,2015-07-31,8565,687,1,1,0,1
9,10,5,2015-07-31,7185,681,1,1,0,1
10,11,5,2015-07-31,10457,1236,1,1,0,1
11,12,5,2015-07-31,8959,962,1,1,0,1
12,13,5,2015-07-31,8821,568,1,1,0,0
13,14,5,2015-07-31,6544,710,1,1,0,1
14,15,5,2015-07-31,9191,766,1,1,0,1
15,16,5,2015-07-31,10231,979,1,1,0,1
16,17,5,2015-07-31,8430,946,1,1,0,1
17,18,5,2015-07-31,10071,936,1,1,0,1
18,19,5,2015-07-31,8234,718,1,1,0,1
19,20,5,2015-07-31,9593,974,1,1,0,0

In [82]:
store_data.head(20)

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
5,6,a,a,310.0,12.0,2013.0,0,NaN,NaN,NaN
6,7,a,c,24000.0,4.0,2013.0,0,NaN,NaN,NaN
7,8,a,a,7520.0,10.0,2014.0,0,NaN,NaN,NaN
8,9,a,c,2030.0,8.0,2000.0,0,NaN,NaN,NaN
9,10,a,a,3160.0,9.0,2009.0,0,NaN,NaN,NaN
10,11,a,c,960.0,11.0,2011.0,1,1.0,2012.0,"Jan,Apr,Jul,Oct"
11,12,a,c,1070.0,NaN,NaN,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
12,13,d,a,310.0,NaN,NaN,1,45.0,2009.0,"Feb,May,Aug,Nov"
13,14,a,a,1300.0,3.0,2014.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct"
14,15,d,c,4110.0,3.0,2010.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
15,16,a,c,3270.0,NaN,NaN,0,NaN,NaN,NaN
16,17,a,a,50.0,12.0,2005.0,1,26.0,2010.0,"Jan,Apr,Jul,Oct"
17,18,d,c,13840.0,6.0,2010.0,1,14.0,2012.0,"Jan,Apr,Jul,Oct"
18,19,a,c,3240.0,NaN,NaN,1,22.0,2011.0,"Mar,Jun,Sept,Dec"
19,20,d,a,2340.0,5.0,2009.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct"

In [83]:
test_data.head(20)

    Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0    1      1          4  2015-09-17   1.0      1            0              0
1    2      3          4  2015-09-17   1.0      1            0              0
2    3      7          4  2015-09-17   1.0      1            0              0
3    4      8          4  2015-09-17   1.0      1            0              0
4    5      9          4  2015-09-17   1.0      1            0              0
5    6     10          4  2015-09-17   1.0      1            0              0
6    7     11          4  2015-09-17   1.0      1            0              0
7    8     12          4  2015-09-17   1.0      1            0              0
8    9     13          4  2015-09-17   1.0      1            0              0
9   10     14          4  2015-09-17   1.0      1            0              0
10  11     15          4  2015-09-17   1.0      1            0              0
11  12     16          4  2015-09-17   1.0      1            0              0
12  13     19          4  2015-09-17   1.0      1            0              0
13  14     20          4  2015-09-17   1.0      1            0              0
14  15     21          4  2015-09-17   1.0      1            0              0
15  16     22          4  2015-09-17   1.0      1            0              0
16  17     23          4  2015-09-17   1.0      1            0              0
17  18     24          4  2015-09-17   1.0      1            0              0
18  19     25          4  2015-09-17   1.0      1            0              0
19  20     27          4  2015-09-17   1.0      1            0              0

In [84]:
#Data preprocessing begins here
#the information about the stores such as holidays, promos, etc and the information about the sales,competetion_distance,store_type etc are available in different datasets, we merge them to make the training data easier to read
print ("Merging the stores and sales data")
combined_train_data=pd.merge(train_data,store_data, on="Store")

Merging the stores and sales data

In [85]:
print ("Previewing the combined data")
combined_train_data.head(400)

Previewing the combined data

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,1,4,2015-07-30,5020,546,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
2,1,3,2015-07-29,4782,523,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
3,1,2,2015-07-28,5011,560,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
4,1,1,2015-07-27,6102,612,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
5,1,7,2015-07-26,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
6,1,6,2015-07-25,4364,500,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
7,1,5,2015-07-24,3706,459,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
8,1,4,2015-07-23,3769,503,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
9,1,3,2015-07-22,3464,463,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
10,1,2,2015-07-21,3558,469,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
11,1,1,2015-07-20,4395,526,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
12,1,7,2015-07-19,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
13,1,6,2015-07-18,4406,512,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
14,1,5,2015-07-17,4852,519,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
15,1,4,2015-07-16,4427,517,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
16,1,3,2015-07-15,4767,550,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
17,1,2,2015-07-14,5042,544,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
18,1,1,2015-07-13,5054,553,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
19,1,7,2015-07-12,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
20,1,6,2015-07-11,3530,441,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
21,1,5,2015-07-10,3808,449,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
22,1,4,2015-07-09,3897,480,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
23,1,3,2015-07-08,3797,485,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
24,1,2,2015-07-07,3650,485,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
25,1,1,2015-07-06,4359,540,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
26,1,7,2015-07-05,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
27,1,6,2015-07-04,4797,560,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
28,1,5,2015-07-03,4665,538,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
29,1,4,2015-07-02,5558,573,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,1,6,2014-07-26,4266,488,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
371,1,5,2014-07-25,3858,461,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
372,1,4,2014-07-24,3557,494,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
373,1,3,2014-07-23,3806,476,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
374,1,2,2014-07-22,3933,495,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
375,1,1,2014-07-21,4507,528,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
376,1,7,2014-07-20,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
377,1,6,2014-07-19,4084,477,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
378,1,5,2014-07-18,4609,506,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
379,1,4,2014-07-17,4685,525,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
380,1,3,2014-07-16,5424,566,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
381,1,2,2014-07-15,5298,538,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
382,1,1,2014-07-14,5083,532,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
383,1,7,2014-07-13,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
384,1,6,2014-07-12,4409,531,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
385,1,5,2014-07-11,4020,463,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
386,1,4,2014-07-10,3741,472,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
387,1,3,2014-07-09,3547,485,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
388,1,2,2014-07-08,4081,510,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
389,1,1,2014-07-07,4223,505,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
390,1,7,2014-07-06,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
391,1,6,2014-07-05,5176,589,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
392,1,5,2014-07-04,4025,450,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
393,1,4,2014-07-03,4756,514,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
394,1,3,2014-07-02,5161,560,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
395,1,2,2014-07-01,5138,533,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
396,1,1,2014-06-30,5738,641,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
397,1,7,2014-06-29,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
398,1,6,2014-06-28,5162,566,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
399,1,5,2014-06-27,4019,501,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN

In [108]:
#Handling the NaN values
#Checking if there are any NaN rows
combined_train_data.isnull().values.any()

False

In [107]:
#There are some NaN in the data, such as promos, where if promo is not offered by the store, the NaN value is used in its place
#Replacing these NaN values with 0
combined_train_data.fillna(0, inplace=True)

In [89]:
combined_train_data.head(50)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
1,1,4,2015-07-30,5020,546,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
2,1,3,2015-07-29,4782,523,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
3,1,2,2015-07-28,5011,560,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
4,1,1,2015-07-27,6102,612,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
5,1,7,2015-07-26,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
6,1,6,2015-07-25,4364,500,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
7,1,5,2015-07-24,3706,459,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
8,1,4,2015-07-23,3769,503,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
9,1,3,2015-07-22,3464,463,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
10,1,2,2015-07-21,3558,469,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
11,1,1,2015-07-20,4395,526,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
12,1,7,2015-07-19,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
13,1,6,2015-07-18,4406,512,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
14,1,5,2015-07-17,4852,519,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
15,1,4,2015-07-16,4427,517,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
16,1,3,2015-07-15,4767,550,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
17,1,2,2015-07-14,5042,544,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
18,1,1,2015-07-13,5054,553,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
19,1,7,2015-07-12,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
20,1,6,2015-07-11,3530,441,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
21,1,5,2015-07-10,3808,449,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
22,1,4,2015-07-09,3897,480,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
23,1,3,2015-07-08,3797,485,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
24,1,2,2015-07-07,3650,485,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
25,1,1,2015-07-06,4359,540,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
26,1,7,2015-07-05,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
27,1,6,2015-07-04,4797,560,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
28,1,5,2015-07-03,4665,538,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
29,1,4,2015-07-02,5558,573,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
30,1,3,2015-07-01,5223,562,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
31,1,2,2015-06-30,5735,568,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
32,1,1,2015-06-29,5197,541,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
33,1,7,2015-06-28,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
34,1,6,2015-06-27,4019,463,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
35,1,5,2015-06-26,3317,420,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
36,1,4,2015-06-25,3533,433,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
37,1,3,2015-06-24,3346,414,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
38,1,2,2015-06-23,3762,447,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
39,1,1,2015-06-22,3846,489,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
40,1,7,2015-06-21,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
41,1,6,2015-06-20,4097,494,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
42,1,5,2015-06-19,4202,487,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
43,1,4,2015-06-18,4645,498,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
44,1,3,2015-06-17,4000,476,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
45,1,2,2015-06-16,4852,503,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
46,1,1,2015-06-15,5518,586,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
47,1,7,2015-06-14,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
48,1,6,2015-06-13,4256,502,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
49,1,5,2015-06-12,3695,422,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0

In [90]:
#Checking if there are any NaN values
combined_train_data.isnull().values.any()

False

In [91]:
#Reformating the date - from YYYY-MM-DD to DD-MM-YYYY
#First need to change the format of 'Date' Column to datetime
combined_train_data['Date'] = pd.to_datetime(combined_train_data['Date'], errors='coerce')
combined_train_data['Date'] = combined_train_data['Date'].dt.strftime('%d-%m-%Y')

In [92]:
combined_train_data.head(20).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Store,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
DayOfWeek,5,4,3,2,1,7,6,5,4,3,2,1,7,6,5,4,3,2,1,7
Date,31-07-2015,30-07-2015,29-07-2015,28-07-2015,27-07-2015,26-07-2015,25-07-2015,24-07-2015,23-07-2015,22-07-2015,21-07-2015,20-07-2015,19-07-2015,18-07-2015,17-07-2015,16-07-2015,15-07-2015,14-07-2015,13-07-2015,12-07-2015
Sales,5263,5020,4782,5011,6102,0,4364,3706,3769,3464,3558,4395,0,4406,4852,4427,4767,5042,5054,0
Customers,555,546,523,560,612,0,500,459,503,463,469,526,0,512,519,517,550,544,553,0
Open,1,1,1,1,1,0,1,1,1,1,1,1,0,1,1,1,1,1,1,0
Promo,1,1,1,1,1,0,0,0,0,0,0,0,0,0,1,1,1,1,1,0
StateHoliday,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
SchoolHoliday,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
StoreType,c,c,c,c,c,c,c,c,c,c,c,c,c,c,c,c,c,c,c,c
Assortment,a,a,a,a,a,a,a,a,a,a,a,a,a,a,a,a,a,a,a,a
CompetitionDistance,1270,1270,1270,1270,1270,1270,1270,1270,1270,1270,1270,1270,1270,1270,1270,1270,1270,1270,1270,1270
CompetitionOpenSinceMonth,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
CompetitionOpenSinceYear,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008
Promo2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Promo2SinceWeek,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Promo2SinceYear,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PromoInterval,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [93]:
#Creating seperate columns for month and Year to analyze the data better.
combined_train_data['year'] = pd.DatetimeIndex(combined_train_data['Date']).year
combined_train_data['month'] = pd.DatetimeIndex(combined_train_data['Date']).month

In [94]:
#preview of the data after reformatting the date
combined_train_data.head(20)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,year,month
0,1,5,31-07-2015,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
1,1,4,30-07-2015,5020,546,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
2,1,3,29-07-2015,4782,523,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
3,1,2,28-07-2015,5011,560,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
4,1,1,27-07-2015,6102,612,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
5,1,7,26-07-2015,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
6,1,6,25-07-2015,4364,500,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
7,1,5,24-07-2015,3706,459,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
8,1,4,23-07-2015,3769,503,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
9,1,3,22-07-2015,3464,463,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
10,1,2,21-07-2015,3558,469,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
11,1,1,20-07-2015,4395,526,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
12,1,7,19-07-2015,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
13,1,6,18-07-2015,4406,512,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
14,1,5,17-07-2015,4852,519,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
15,1,4,16-07-2015,4427,517,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
16,1,3,15-07-2015,4767,550,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
17,1,2,14-07-2015,5042,544,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
18,1,1,13-07-2015,5054,553,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
19,1,7,12-07-2015,0,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,12

In [95]:
#Converting 'DayOfWeek' from numerical form to weekday name, so as to make the data easier to understand
combined_train_data['Date'] = pd.to_datetime(combined_train_data['Date'])
combined_train_data['DayOfWeek'] = combined_train_data['Date'].dt.weekday_name

In [96]:
combined_train_data.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,year,month
0,1,Friday,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
1,1,Thursday,2015-07-30,5020,546,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
2,1,Wednesday,2015-07-29,4782,523,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
3,1,Tuesday,2015-07-28,5011,560,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
4,1,Monday,2015-07-27,6102,612,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7

In [97]:
(combined_train_data['CompetitionDistance'] == 0).any()

True

In [98]:
#Some CompetitionDistance values are blank in the Data, We have assumed this to mean that the data of nearest competetor stores couldn't be found, therefore, these values are replaced with Median distance. '
median_cd = combined_train_data['CompetitionDistance'].median(skipna=True)

In [99]:
combined_train_data['CompetitionDistance']=combined_train_data.CompetitionDistance.mask(combined_train_data.CompetitionDistance == 0,median_cd)

In [103]:
# remove all rows(store,date) that are closed as this data doesn't help in predicting the sales on the working days
combined_train_data = combined_train_data[combined_train_data["Open"] != 0]

In [100]:
#Performing the same merge operation on test data
combined_test_data=pd.merge(test_data,store_data, on="Store")

In [77]:
#Preview the test data
print ("Previewing the combined test data")
combined_test_data.head()

Previewing the combined test data

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,1,4,2015-09-17,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,857,1,3,2015-09-16,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
2,1713,1,2,2015-09-15,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
3,2569,1,1,2015-09-14,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
4,3425,1,7,2015-09-13,0.0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN

In [106]:
#Handling the NaN values, first checking if there are any NaN
combined_test_data.isnull().values.any()

True

In [111]:
#Replacing the NaN values with 0
combined_test_data.fillna(0, inplace=True)

In [ ]:
#checking again for NaN

In [112]:
combined_test_data.isnull().values.any()

False

In [113]:
#Reformating the date - from YYYY-MM-DD to DD-MM-YYYY for better readability
#First need to change the format of 'Date' Column to datetime
combined_test_data['Date'] = pd.to_datetime(combined_test_data['Date'], errors='coerce')
combined_test_data['Date'] = combined_test_data['Date'].dt.strftime('%d-%m-%Y')

In [115]:
#Preview the test data
print ("Previewing the combined test data")
combined_test_data.head()

Previewing the combined test data

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,1,4,17-09-2015,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
1,857,1,3,16-09-2015,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
2,1713,1,2,15-09-2015,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
3,2569,1,1,14-09-2015,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
4,3425,1,7,13-09-2015,0.0,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0

In [140]:
#Converting 'DayOfWeek' from numerical form to weekday name, so as to make the data easier to understand
combined_test_data['Date'] = pd.to_datetime(combined_test_data['Date'])
combined_test_data['DayOfWeek'] = combined_test_data['Date'].dt.weekday_name

In [117]:
#Drop the days where the store has remained closed as there is no point in that data being present for the test data
combined_test_data = combined_test_data[combined_test_data["Open"] != 0]

In [120]:
def remove_outliers(df, column, min_val, max_val):
    col_values = df[column].values
    df[column] = np.where(np.logical_or(col_values<=min_val, col_values>=max_val), np.NaN, col_values)
    return df

In [135]:
#Since the Data is very large, it isn't easy to observe and detect outliers, therefore we have applied the turkey method of detecting the outliers using Inter-Quartile-range(IQR)
#The formulas are:
#Low outliers = Q1 – 1.5(Q3 – Q1) = Q1 – 1.5(IQR)
#High outliers = Q3 + 1.5(Q3 – Q1) = Q3 + 1.5(IQR)
#Where:
#Q1 = first quartile
#Q3 = third quartile
#IQR = Interquartile range
Q1 = combined_train_data['CompetitionDistance'].quantile(0.25)
Q3 = combined_train_data['CompetitionDistance'].quantile(0.75)
IQR = Q3 - Q1
print ("IQR is ")
print (IQR)
max_value= Q3 + 1.5*IQR
print ("Max Value is")
print (max_value)

#Since all the CompetitionDistance Data are positive, there are no "outliers" (by the present definition) on the low side.
#Therfore we can assign the min_value to 0
min_value=0

IQR is
6170.0
Max Value is
16135.0

In [136]:
combined_train_data = remove_outliers(df = combined_train_data, column = 'CompetitionDistance', min_val = min_value, max_val = max_value)

In [139]:
print("Preview the data after removal of outliers")
combined_train_data.head(30)

Preview the data after removal of outliers

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,year,month
0,1,Friday,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
1,1,Thursday,2015-07-30,5020,546,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
2,1,Wednesday,2015-07-29,4782,523,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
3,1,Tuesday,2015-07-28,5011,560,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
4,1,Monday,2015-07-27,6102,612,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
6,1,Saturday,2015-07-25,4364,500,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
7,1,Friday,2015-07-24,3706,459,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
8,1,Thursday,2015-07-23,3769,503,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
9,1,Wednesday,2015-07-22,3464,463,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
10,1,Tuesday,2015-07-21,3558,469,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
11,1,Monday,2015-07-20,4395,526,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
13,1,Saturday,2015-07-18,4406,512,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
14,1,Friday,2015-07-17,4852,519,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
15,1,Thursday,2015-07-16,4427,517,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
16,1,Wednesday,2015-07-15,4767,550,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
17,1,Tuesday,2015-07-14,5042,544,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
18,1,Monday,2015-07-13,5054,553,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
20,1,Saturday,2015-11-07,3530,441,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,11
21,1,Wednesday,2015-10-07,3808,449,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,10
22,1,Monday,2015-09-07,3897,480,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,9
23,1,Friday,2015-08-07,3797,485,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,8
24,1,Tuesday,2015-07-07,3650,485,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7
25,1,Sunday,2015-06-07,4359,540,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,6
27,1,Tuesday,2015-04-07,4797,560,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,4
28,1,Saturday,2015-03-07,4665,538,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,3
29,1,Saturday,2015-02-07,5558,573,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,2
30,1,Wednesday,2015-01-07,5223,562,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,1
31,1,Tuesday,2015-06-30,5735,568,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,6
32,1,Monday,2015-06-29,5197,541,1,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,6
34,1,Saturday,2015-06-27,4019,463,1,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,6

In [142]:
print("performing the same removal of outliers for test data")

performing the same removal of outliers for test data

In [143]:
combined_test_data = remove_outliers(df = combined_test_data, column = 'CompetitionDistance', min_val = min_value, max_val = max_value)